@import url("http://fonts.cdnfonts.com/css/graphik");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  line-height: 1.375rem;
}

.talent {
  padding-top: 1.5rem;
}

ul {
  padding-top: 1rem;
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  width: 40%;
  color: #161617;
}

li {
  font-family: "Graphik", sans-serif;
  list-style: none;
  color: #161617;
  font-size: 1rem;
  font-weight: 300;
}

.home {
  border-bottom: 3px solid red;
}

.links {
  padding: 0.6rem;
}

.links:hover {
  background-color: hsl(188, 83%, 93%);
  cursor: pointer;
}

.hire-link {
  background-color: #e7332b;
  color: white;
  padding: 0.6rem 0.5rem 0.5rem 0.5rem;
  width: 30%;
  text-align: center;
  cursor: pointer;
  border-bottom-right-radius: 0.5rem;
}

.recurit-div {
  display: none;
  width: 42%;
  height: 25rem;
  border: 1px solid lightgrey;
  margin: 3rem auto;
  padding: 5rem;
  border-radius: 0.4rem;
}

.show-div {
  display: block;
}

.recurit-div h1 {
  text-align: center;
  font-family: "Graphik", sans-serif;
  font-weight: 700;
  font-size: 2.7rem;
  color: #161617;
  line-height: 3.063rem;
}

.recurit-div p {
  color: #787878;
  font-family: "Graphik", sans-serif;
  font-size: 1.188rem;
  font-weight: 400;
  line-height: 1.375rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.fill {
  background-color: #e7332b;
  font-family: "Graphik", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  padding: 0.6rem;
  width: 12%;
  border: none;
  position: absolute;
  right: 38rem;
  border-bottom-right-radius: 0.625rem;
}

.or {
  margin-top: 1.9rem;
  font-family: "Times New Roman", Times, serif !important;
  font-size: 1rem;
  color: #000000 !important;
}

.book {
  background-color: #e7332b;
  font-family: "Graphik", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  padding: 0.8rem;
  width: 17%;
  border: none;
  position: absolute;
  right: 36rem;
  border-bottom-right-radius: 0.625rem;
}

.hire-join-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.trusted-div {
  width: 40%;
}

.trusted-div h2 {
  font-family: "Graphik", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.063rem;
  color: #161617;
  padding-bottom: 1.5rem;
}

.trusted-div p {
  font-family: "Graphik", sans-serif;
  font-size: 1.188rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #787878;
  padding-bottom: 1.2rem;
}

.trusted-img-div {
  width: 45%;
  padding-left: 12rem;
  padding-top: 5rem;
}

.trusted-img {
  max-width: 100%;
  height: 100%;
}

.talented {
  color: #e7332b;
}

.thick {
  position: absolute;
  top: 19.9rem;
  left: 32.3rem;
}

.line {
  position: absolute;
  right: 0rem;
  top: 22rem;
  z-index: -1;
}

.hire-btn {
  font-family: "Graphik", sans-serif;
  font-size: 1rem;
  line-height: 1.188rem;
  font-weight: 400;
  width: 30%;
  height: 2.4rem;
  color: #ffffff;
  background-color: #e7332b;
  border: none;
  border-bottom-right-radius: 0.5rem;
  cursor: pointer;
}

.join-btn {
  font-family: "Graphik", sans-serif;
  font-size: 1rem;
  line-height: 1.188rem;
  font-weight: 400;
  width: 34%;
  height: 2.4rem;
  margin-left: 1rem;
  background-color: #514949;
  border-bottom-right-radius: 0.5rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

#impact-div {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

.section-one-div {
  margin-left: 8rem;
}

.section-one-div h3 {
  font-family: "Graphik", sans-serif;
  font-size: 2.5rem;
  line-height: 3.063rem;
  font-weight: 600;
  color: #161617;
}

.section-two-div {
  width: 100%;
  margin-left: 12rem;
}

.section-two-div img {
  max-width: 70%;
  height: auto;
}

/* css rules for mobile responsiveness */
@media (max-width: 375px) {
  .links {
    display: none;
  }

  .box {
    width: 80%;
  }

  .fill {
    width: 55%;
    right: 20rem;
  }

  .hire-join-div {
    flex-direction: column;
  }
}

@media (min-width: 376px) and (max-width: 800px) {
  .hire-link {
    width: 70%;
  }

  .links {
    display: none;
  }
}

@media (min-width: 676px) and (max-width: 1000px) {
  .hire-join-div {
    flex-direction: column;
  }

  .line {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .hire-join-div {
    flex-direction: column;
  }

  .trusted-img-div {
    width: 80%;
    padding-left: 0rem;
  }

  .trusted-div {
    width: 72%;
  }

  .trusted-div h2 {
    font-family: "Graphik", sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.4rem;
  }

  .thick {
    position: absolute;
    top: 10.9rem;
    left: 13.5rem;
  }

  .trusted-div p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.7rem;
    font-weight: 400;
    color: #787878;
  }

  .hire-btn {
    width: 40%;
    height: 2.2rem;
  }

  .join-btn {
    width: 52%;
    height: 2.2rem;
  }

  .hire-link {
    font-family: "Graphik", sans-serif;
    font-weight: 400;
    width: 90%;
    padding: 0.5rem;
  }

  .line {
    display: none;
  }

  #impact-div {
    flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .hire-join-div {
    flex-direction: column;
  }

  .trusted-img-div {
    width: 100%;
  }

  .trusted-div {
    width: 100%;
  }

  .trusted-div h2 {
    font-family: "Graphik", sans-serif;
    text-align: none;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .line {
    display: none;
  }

  #impact-div {
    flex-direction: column;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .hire-join-div {
    flex-direction: column;
  }

  .trusted-img-div {
    width: 100%;
  }
}

@media (min-width: 414px) and (max-width: 896px) {
  .thick {
    position: absolute;
    top: 10.9rem;
    left: 14rem;
  }

  .line {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 740px) {
  .thick {
    position: absolute;
    top: 12.9rem;
    left: 8.8rem;
  }

  .line {
    display: none;
  }
}

@media (min-width: 375px) and (max-width: 667px) {
  .thick {
    position: absolute;
    top: 10.5rem;
    left: 13.3rem;
  }
  .line {
    display: none;
  }
}

@media (min-width: 390px) and (max-width: 670px) {
  .thick {
    position: absolute;
    top: 10.9rem;
    left: 13.4rem;
  }
  .line {
    display: none;
  }
}

@media (min-width: 412px) and (max-width: 915px) {
  .thick {
    position: absolute;
    top: 10.7rem;
    left: 14.5rem;
  }
  .line {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .hire-join-div {
    flex-direction: column;
  }

  .trusted-img-div {
    width: 80%;
  }

  .hire-link {
    position: absolute;
    right: 0;
    width: 5%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hire-link {
    position: absolute;
    right: 1rem;
    width: 20%;
  }

  .trusted-div p {
    font-size: 1.2rem;
    text-align: center;
    padding-left: 8rem;
    padding-right: 5rem;
    box-sizing: border-box;
  }

  .trusted-div h2 {
    font-family: "Graphik", sans-serif;
    text-align: center;
  }

  .hire-btn {
    margin-left: 8rem;
  }

  .trusted-img-div {
    width: 70%;
    padding-left: 2rem;
  }

  .thick {
    position: absolute;
    top: 7.9rem;
    left: 22.6rem;
  }
}

@media (min-width: 820px) and (max-width: 1180px) {
  .thick {
    position: absolute;
    top: 8.9rem;
    left: 27.4rem;
  }
  .trusted-div {
    width: 90%;
  }

  .links {
    display: none;
  }

  .trusted-img-div {
    width: 60%;
    padding-left: 1rem;
  }

  .trusted-div h2 {
    font-family: "Graphik", sans-serif;
    text-align: center;
  }

  .trusted-div p {
    font-size: 1.2rem;
    text-align: center;
    padding-left: 8rem;
    padding-right: 5rem;
    box-sizing: border-box;
  }

  .hire-btn {
    margin-left: 8rem;
  }

  .hire-link {
    position: absolute;
    right: 1rem;
    width: 20%;
  }
}

@media (width: 912px) {
  .thick {
    position: absolute;
    top: 8.9rem;
    left: 30rem;
  }
  .line {
    display: none;
  }
}

@media (width: 540px) {
  .thick {
    position: absolute;
    top: 8.4rem;
    left: 19.2rem;
  }

  .trusted-div h2 {
    font-family: "Graphik", sans-serif;
    text-align: center;
  }

  .trusted-div p {
    font-size: 1.2rem;
    text-align: center;
    padding-left: 4rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }

  .hire-btn {
    margin-left: 6rem;
  }

  .trusted-img-div {
    width: 80%;
    padding-left: 1rem;
  }

  .hire-link {
    position: absolute;
    right: 2rem;
    width: 20%;
  }
  .line {
    display: none;
  }
}

@media (width: 280px) {
  .thick {
    position: absolute;
    top: 14rem;
    left: 6rem;
  }

  .trusted-div h2 {
    font-family: "Graphik", sans-serif;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 3rem;
  }

  .trusted-div p {
    font-size: 1.3rem;
    text-align: center;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    box-sizing: border-box;
    line-height: 2rem;
  }

  .trusted-div {
    width: 90%;
  }

  .hire-btn {
    margin-left: 0;
    width: 40%;
    height: 2.3rem;
  }

  .hire-link {
    position: absolute;
    right: 0.4rem;
    width: 40%;
  }

  .join-btn {
    width: 50%;
    height: 2.2rem;
  }
  .line {
    display: none;
  }
}

@media (width: 392px) {
  .thick {
    position: absolute;
    top: 11rem;
    left: 14rem;
  }
  .line {
    display: none;
  }
}

@media (width: 1024px) {
  .thick {
    position: absolute;
    top: 8.5rem;
    left: 33.6rem;
  }
}

@media (width: 1280px) {
  .thick {
    position: absolute;
    top: 20rem;
    left: 8.5rem;
  }
}
