@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&family=Roboto&display=swap");

@import url("http://fonts.cdnfonts.com/css/averta-standard");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  font-family: "Averta Standard", sans-serif;
}

#logo-container {
  text-align: center;
  background-color: #fffafa;
  padding-top: 4.5rem;
  margin-bottom: 2rem;
}

#learn-container {
  background-color: #fffafa;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 17rem;
}

.learn-text {
  text-align: center;
  padding-top: 2rem;
}

#learn-title {
  margin-top: 1rem;
}

h2 {
  font-weight: 600;
  color: #514949;
  line-height: 3rem;
  font-size: 2rem;
  font-family: "Averta Standard", sans-serif;
}

.learn-text p {
  width: 50%;
  text-align: center;
  margin: 1.2rem auto;
  font-size: 1rem;
  color: #514949;
  font-weight: 400;
  line-height: 1.5rem;
  padding-top: 1.5rem;
  font-family: "Averta Standard", sans-serif;
}

.btn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
}

.new-in-industry {
  box-sizing: border-box;
  background-color: #e7332b;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  border: none;
  width: 15rem;
  height: 3rem;
  font-family: "Averta Standard", sans-serif;
}

.need-experience {
  box-sizing: border-box;
  background-color: white;
  font-size: 1rem;
  color: #e7332b;
  padding: 1rem;
  border: 1px solid #e7332b;
  width: 15rem;
  height: 3rem;
  margin-left: 1.5rem;
  font-family: "Averta Standard", sans-serif;
}

.need-experience:hover {
  background-color: #e7332b;
  color: white;
  cursor: pointer;
}

.new-in-industry:hover {
  background-color: white;
  cursor: pointer;
  color: #e7332b;
  border: 1px solid #e7332b;
}

.cater-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 4.5rem;
  margin-right: 4.5rem;
}

.opportunity {
  background-color: #fffafa;
  height: 30rem;
  width: 32%;
  padding: 4rem 4rem 2rem 2rem;
}

.cater {
  margin-top: 10rem;
}

.cater-title {
  color: #e7332b;
  font-size: 0.875rem;
  font-weight: 500;
}

.cater-content-div {
  margin: 0 auto;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 4rem;
}

.cater-text {
  font-size: 1.5rem;
  margin: 0 auto;
  width: 28%;
  color: #514949;
}

.training-text {
  padding: 2.8rem 0 2rem 0;
  color: #514949;
  font-family: "Averta Standard", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.zuri-contact-details {
  margin-top: 15rem;
}

.zuri-contact-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 6rem;
}

.contacts {
  line-height: 1.25rem;
  color: #514949;
}

.contacts p {
  font-size: 0.9rem;
}

.contacts h3 {
  padding-bottom: 1rem;
}

.email {
  color: #e7332b;
  padding-top: 1rem;
}

.beginner,
.expert,
.projects {
  color: #e7332b;
}

.blog {
  padding-top: 1rem;
}

.twitter,
.facebook,
.linkedin,
.instagram {
  width: 1.3rem;
  padding-left: 0.188rem;
}

.train {
  color: #e7332b;
}

.blog,
.store {
  color: #e7332b;
  text-align: center;
  font-size: 3rem;
}

footer {
  display: flex;
  border-top: 2px solid lightgray;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
}

footer p {
  margin: 0 auto;
  color: #514949;
  font-weight: 800;
}

.footer-zuri {
  padding-left: 0.3rem;
}

@media (min-width: 230px) and (max-width: 1140px) {
  #learn-container {
    width: 100%;
  }

  .cater-section {
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .opportunity {
    height: 35rem;
    width: 100%;
    margin: 2rem 0 2rem 0;
  }

  .learn-text p {
    width: 80%;
    padding: 0 1rem 0 1rem;
  }

  .btn-div {
    flex-direction: column;
  }

  .industry {
    margin-top: 2rem;
    margin-left: 0px;
  }

  .cater-text {
    width: 80%;
    padding: 0 1rem 0 1rem;
  }

  footer {
    margin-left: 1.1rem;
    margin-right: 1.1rem;
  }

  .email {
    text-align: center;
  }

  .lagos {
    display: block;
    text-align: center;
  }

  .blog,
  .store {
    color: #e7332b;
    text-align: center;
    font-size: 3rem;
  }
}

@media (min-width: 250px) and (max-width: 1000px) {
  .zuri-contact-details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacts {
    margin: 2rem 0 2rem 0;
    text-align: justify;
  }

  .contact-title {
    text-align: center;
  }

  .address {
    text-align: justify;
  }
}

@media (max-width: 375px) {
  .btn-div {
    flex-direction: column;
  }

  .industry {
    margin-top: 2rem;
    margin-left: 0px;
  }
}
